  /* Footer Styling */
  .site-footer {
    background-color: #1a1a1a; /* Dark grey footer similar to navigation */
    color: #ffffff;
    padding: 20px 40px;
  }

  .footer-container {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-top {
    text-align: center;
    /* margin-bottom: 10px; */
  }
  
  .footer-nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }

  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .copyright {
    text-align: center;
    margin: 10px 0px;
  }
  
  .social-links img {
    width: 24px;
    height: 24px;
  }

  @media screen and (min-width: 768px) {
    .footer-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  