/* Layout: Sidebar and Main Content */
.play-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #ffffff;
}

h1, h2 {
    font-family: 'Arial', sans-serif; /* Ensure consistent font */
    color: #2c3e50;
    margin-bottom: 1rem;
}

/* Sidebar Styling */
.level-sidebar {
    width: 25%;
    list-style-type: none;
    background-color: #f4f4f4; /* Clean, light background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.level-sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.level-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.level-list li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.beginner-level li {
    background-color: #6fe600; /* Fresh green for Beginner */
}

.intermediate-level li {
    background-color: #f1c40f; /* Yellow for Intermediate */
}

.advanced-level li {
    background-color: #e74c3c; /* Red for Advanced */
}

/* Add hover effect */
.level-list li:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Main Content */
.play-main {
    width: 70%;
    background-color: #faf9f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.game-intro h1 {
    font-size: 36px;
    margin-bottom: 20px;

}

.game-intro p {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
}

/* Game Levels */
.levels {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 40px 40px;
    margin-bottom: 40px;
}

.level-card button {
    background-color: #3498db; /* same blue color from dashboard */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.level-card button:hover {
    background-color: #2980b9; /* Match the hover effect */
}

.level-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.level-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.level-card button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.level-card button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.level-card button:hover:not(:disabled) {
    background-color: #0073e6;
}

/* Referral and Share */
.referral-share h2{
    font-size: 24px;
    margin-bottom: 20px;

}

.referral-share h3{
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}

.referral-share input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.referral-share button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.referral-share button:hover {
    background-color: #2980b9;
}

.share-options {
    display: flex;
    justify-content: center; /* Center horizontally */
    gap: 10px; /* Add space between buttons */
    margin-top: 20px;
}

.share-options button {
    
    background-color: #57d56a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.share-options button:hover {
    background-color: #39a40b;
}

@media (max-width: 768px) {
    .play-container {
        flex-direction: column; /* Stack sidebar and main content */
    }

    .level-sidebar {
        flex: 1 1 auto; /* Allow sidebar to take full width */
    }

    .play-main {
        flex: 1 1 auto; /* Allow main content to take full width */
    }
}

img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}
